<div class="weather-frame" [ngStyle]="weatherBG"  >

  <button class="btn-update" (click)="updateWeather(true)" >Refresh</button>

  <ng-container *ngIf="values.weather as weather; else loading" >

    <div class="frame-inner" >
      <span class="temp" >{{ weather.main.temp | number:'1.0-0' }}&deg;C</span>
      <span class="weather" >{{ weather.weather[0].description }}</span>
    </div>
    <div class="frame-inner text-right">
      <span class="time" >{{ time | date:'HH:mm' }}</span>
      <span class="location" >{{ weather.name }}</span>
      <span class="season" >{{ season }}</span>
      <span class="date" >{{ date | date:'d MMMM y' }}</span>
      <span class="date" >{{ date | date:'EEEE' }}</span>
    </div>

  </ng-container>
  <ng-template #loading>
    <div class="frame-inner loader" >
      Loading...
    </div>
  </ng-template>

</div>
