.weather-frame {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 500px;
  height: 150px;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  background: #eee center/contain no-repeat;
}
.frame-inner {
  flex: 1;
}

.loader {
  text-align: center;
  align-self: center;
}

.text-right {
  text-align: right;
}

span {
  display: block;
}

.btn-update {
  position: absolute;
  top: 8px;
  left: 8px;
}
